body {
    margin: 0;
}
* {
    font-size: large;
}
/* CSS for top_bar */
#top_bar {
    position: fixed;
    width: 100%;
    background-color:  #0bb082;
    height: 70px;
    z-index: 100;
}
#menu_toggle {
    display: none;
    height: 40px;
    margin: 10px 0 0 10px;
}
#menu_toggle:hover {
    opacity: 50%;
}
#logo {
    padding: 5px 0 0 5px;
    height: 80%;
}
#nav_bar {
    float: right;
    padding: 10px 20px;
}
#nav_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#nav_bar ul li {
    display: inline-block;
    position: relative;
    list-style: none;
}
#nav_bar a {
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
}
#nav_bar li:hover a:hover {
    color: white;
    background-color: black;
}
/* CSS for main_container */
#main_container {
    padding-top: 100px;
    padding-left: 10px;
}
.functional_button {
    width: 50px;
    height: 50px;
    padding: 0 20px;
    background-color: #088c67;
    color: white;
    border: none;
    border-radius: 5%;
}

.functional_button:hover {
    opacity: 70%;
}
#create_customer {
    float: right;
}
#scan_barcode {
    margin: 60px 0 20px 40px;
}

.search_by {
    margin: 0 0 20px 40px;
}
.profile_item {
    height: 80px;
    border-top: solid 1px black;
    padding: 5px 0;
}
.profile_icon {
    height: 80%;
}
/* Responsive */
@media (max-width: 700px) {
    #nav_bar {
        background-color: silver;
        float: none;
        width: 30%;
        display: none;   
    }
    #nav_bar.active {
        display: block;
    }
    #nav_bar ul li{
        display: block;
    }
    #menu_toggle {
        display: block;
    }   
}
/* FOOTER */
#footer_container {
    margin-top: 40px;
    border-top: solid black 2px;    
    background-color: #756e6d;
    color: white;
    padding-left: 30px;
}
.footer_icon {
    width: 30px;
    height: 30px;
}
#copyright {
    text-align: center;
}
/* OTP */
#otp_container {
    text-align: center;
}
header {
    font-size: 150%;
    font-weight: 100;
}
.OTP {
    width: 50px;
    text-align: center;
    margin-right: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
