/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#logo {
    padding: 5px 0 0 5px;
    height: 80%;
}

/* TABLE */

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}



.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
  }
  
  .title {
	color: grey;
	font-size: 18px;
  }
  
  .folio {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  
  
  .folio:hover, a:hover {
	opacity: 0.7;
  }
  
.portfolio
{
	text-align-last: center; 
	border-style: double;
	padding: 20px;
}

#searchbtn
{
	color:black;
	border-style: none;
}
#searchbtn:hover
{
	background-color: rgb(50, 123, 219);
	opacity: 0.7;
}

.imagecentre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.boxborder
{
	border-style: double;
	padding: 20px;
	 float: left;
}
.card
{
	padding-bottom: 250px;
}

.table-wrapper {
    width: 700px;
    background: #fff;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


@media only screen and (min-width: 600px) {
.searchbtn
{
	margin-right: 50%;
}
  }
  @media only screen and (min-width: 768px) {
	.searchbtn
	{
		margin-right: 50%;
	}
  }

